.tree-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 25px;
}

.tree-item.selected {
  color: rgb(92, 119, 255); 
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.icon-container .icon {
  color: black; 
}

.icon-container {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.icon-image {
  margin-right: 8px; 
  width:30px; 
  height:26px;
}

.type-image {
  margin-right: 8px; 
  width:26px; 
  height:21px;
}

.container{
  width: fit-content;
}